body {
    margin: 0;
    overflow-x: hidden;
}

.main_info_aut {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, rgb(255, 138, 138), rgb(60, 179, 113));;
}

#info_user {
    width: 30vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    background: linear-gradient(to right, rgb(255, 138, 138), rgb(60, 179, 113));
}

.par_info {
    margin: 10px 0;
}

.button_next {
    margin: 20px 60px;
    width: 90%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid gray;
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 12px;
}

.button_back {
    margin: 0 60px;
    width: 90%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid gray;
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 12px;
}
.button_block{
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.button_next:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    border-radius: 7px;
}

.button_back:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    border-radius: 7px;
}

.post_block {
    width: 95vw;
    height: 40vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items:center;
    background: linear-gradient(to right, rgb(255, 138, 138), rgb(60, 179, 113));
}
.post_div{
    width: 10vw;
}
.post_title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    margin: 25px 0 0 0;
}

.button_search_post {
    width: 140px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid gray;
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 12px;
    margin-top: 8px;
}

.button_search_post:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    border-radius: 7px;
}

.button_back_user {
    width: 180px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid gray;
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 15px;
    margin-top: 25px;
}

.button_back_user:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    border-radius: 7px;
}